{% extends "base.html" %}
{% block content %}
<div style="float:right;margin-right: 81px;">
    <a href="/blog/createpost" class="btn btn-primary" role="button">Add Post</a> </div>    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {% for p in post %}
                <div class="post-preview">
                  <a href="/blog/viewpost/{{p.id}}">
                        <div class="post-title">
                            {{p.title}}
                        </div>
                        </a>
                        <div class="post-subtitle">
                            {{p.content}}
                        </div>
                      
                      <p class="post-meta"> 
                        {{p.updated_at|date:"d M Y" }} | comments - {{p.comment__count}} |
                        View - {{p.viewers}}
                        {% if role_id == 1 or user_id == p.user.id %} 
                        | <a href="/blog/editpost/{{p.id}}">Edit Post</a>
                        | <a href="/blog/deletepost/{{p.id}}">Delete Post</a>
                        {% endif %}
                </div>
                    <hr>
               {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
