{% extends "base.html" %}
welcome home
{% block content %}
<a href="/blog/createpost">Add Post</a>
<div><a href="/logout">Logout</a></div>
<h1>Hello</h1>
<table border="2">
   <tr>
        <th>Post Title</th>
        <th>Total comments</th>
        <th>View</th>
        <th>Post Updated</th>
        <th>Action </th>
   </tr>
   {% for p in post %}
       <tr>
           <td> {{ p.title }}</td>
           <td> {{p.comment__count}} </td>
           <td> {{p.viewers}} </td>
           <td> {{ p.updated_at|date:"d M Y" }} </td>
           <td>
           {% if role_id == 1 or user_id == p.user.id %}
           <a href="/blog/editpost/{{p.id}}">Edit</a>
           <a href="/blog/deletepost/{{p.id}}">Delete</a>
           {% endif %}
           <a href="/blog/viewpost/{{p.id}}">View</a>
           </td>
       </tr>
   {% endfor %}
</table>
{% endblock %}
