{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form role="form" method="post" action="./{{post_id}}">
                    {% csrf_token %}
                          <div class="form-group">
                           <label> Post Title </label>
                                {{ form.title}}
                            </div>
                            <div class="form-group">
                            <label>Post Description </label>
                            {{ form.content}}
                            </div>
                           <div class="form-group">
                               <label>Post category</label>
                                 <select id="id_category" name="category">
                                <option value="">Select category</option>
                                    {% for cat in category %}
                                <option value= {{cat.id}}
                                    {% if cat.id == category_id %}selected="selected"{% endif %}>
                                        {{cat.name}}</option>
                                         {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                            <label>Post Tags</label>
                             <div class="ui-widget"> {{ form.tags}}</div>
                        </div>
                    <button type="submit" class="btn btn-primary">Update Post</button>
                </form>
            </div>
        </div>
    </div>
<link rel="stylesheet" href="{% static 'myblog/css/jquery-ui.css' %}"
 type="text/css" media="all" />
<script src="{% static 'myblog/js/jquery.min.js' %}" type="text/javascript">
</script> 
<script src="{% static 'myblog/js/jquery-ui.min.js' %}" 
type="text/javascript"></script>
<script src="{% static 'myblog/js/blog.js' %}"></script>
{% endblock %}

