<html>
    <head>
        <title>Django Blog Application
        {% block title %}{% endblock %}</title>
    </head>
    <body>
    {% block content %}
		 <a href="/blog/login">Login</a>
		    {% for comment in comments %}
		        {% ifchanged comment.post.title %}
		        <h4>{{comment.post.title}}</h4>
		        {{comment.post.content}}
		        {% endifchanged %}
		        <ul>
		        <li> {{comment.comment_text}} </li>
		        </ul>
		    {% endfor %}
		{% endblock %}
	    </body>
</html>