{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <form role="form" method="post" action=".">
                    {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_table }}
                        </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div

{% endblock %}