{% extends "base.html" %}
{% block content %}
    {% if form.errors %}
    {% if form.errors.password2 %}
    	{{ form.errors.password2 }}
    {% endif %}
	{% endif %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<form role="form" method="post" action=".">
					{% csrf_token %}
						<div class="form-group">
							{{ form.as_table }}
						</div>
					<button type="submit" class="btn btn-primary">Register</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
